.about-section {
    background-color: rgba(0,0,0,0.75);
    color: rgb(197, 217, 255);
    width: 50%;
    padding: 4rem;
    margin: 3rem auto;
    text-align: center;
  }
  
  .skills-list {
    text-align: left;
    columns: 2;
    font-size: 1.25rem;
    margin: 2rem 3rem;
    gap: 3rem;
  }
  
  @media screen and (max-width: 480px) {
    .about-section {
      width: 90%; /* Adjust this value as needed */
    }
    .skills-list {
      columns: 1;
    }
  }